/* You can add global styles to this file, and also import other style files */

.bd-navbar {
    min-height: 4rem;
    background-color: #563d7c;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.bd-masthead {
    position: relative;
    padding: 3rem 15px;
}

.bd-masthead h1 {
    font-size: 4rem;
    line-height: 1;
}

@media (min-width: 576px) {
    .bd-masthead {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

@media (max-width: 1200px) {
    .bd-masthead h1 {
        font-size: calc(1.525rem + 3.3vw);
    }
}

.bd-text-purple-bright {
    color: #7952b3;
}


.btn-bd-primary {
    font-weight: 600;
    color: #7952b3;
    border-color: #7952b3;
}

.bd-primary:hover {
    color: #fff;
    background-color: #7952b3;
    border-color: #7952b3;
}

.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.spinner{
    position: absolute;
    margin: auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

// Masthead

.m-0 {
    margin: 0!important;
}

.border-white {
    border-color: #fff!important;
}

.border {
    border: 1px solid #dee2e6!important;
}

@media (min-width: 768px) {
    .p-md-5 {
        padding: 3rem!important;
    }
}

.row-table {
    margin-top: 20px;
}
